html {
  font-size: 16px;
}

body {
  font-family: 'Inter',
    sans-serif;
  font-size: 1em;
  line-height: -webkit-calc(25/15);
  line-height: -moz-calc(25/15);
  line-height: calc(25/15);
  color: #555555;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;


  /* Scrollbar Styling */
  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 0px;
    background: #6d6d6d;
  }
}

.opacity-0 {
  opacity: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: 'Nunito',
    sans-serif;
}

p {
  font-size: 1em;
  line-height: 1.5;

  &:last-child {
    margin-bottom: 0;
  }

  @media(max-width: 400px) {
    font-size: 0.95em;
  }
}

a {
  text-decoration: none;

  &:visited,
  &:focus,
  &:active,
  &:hover {
    text-decoration: none;
    outline: none;
  }
}

a,
button {
  -webkit-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}

a:hover,
button:hover {
  -webkit-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

.affix {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  transition: 0.5s ease-in-out;
  animation: affix_animation .6s ease-in-out;
  -webkit-animation: affix_animation .6s ease-in-out;
  box-shadow: 0 0 0.1875rem #ddd;
  z-index: 99999999;
}

@-webkit-keyframes affix_animation {
  0% {
    margin-top: -7.5rem;
    opacity: 0
  }

  50% {
    margin-top: -4rem;
    opacity: 0
  }

  100% {
    margin-top: 0;
    opacity: 1
  }
}

@keyframes affix_animation {
  0% {
    margin-top: -7.5rem;
    opacity: 0
  }

  50% {
    margin-top: -4rem;
    opacity: 0
  }

  100% {
    margin-top: 0;
    opacity: 1
  }
}


#displayView {
  width: 98%;

}

.dashboard {
  background: #F1F5F8;
  height: 100vh;
  overflow: hidden !important;

  .badge {
    color: #fff;
    padding: 0;
    border: none;
    background: linear-gradient(to left, #48d6a8 0%, #029666 100%) !important;
    font-size: 0.6em;
    padding: 5px 8px;
    font-weight: 600;
    border-radius: 30px;
    display: inline-block;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    &.badge-1 {
      background: linear-gradient(to left, #0db2de 0%, #005bea 100%) !important;
    }

    &.badge-2 {
      background: linear-gradient(45deg, #f93a5a, #f7778c) !important;
    }

    &.badge-3 {
      background: linear-gradient(to left, #efa65f, #f76a2d) !important;
    }

    &.badge-4 {
      background: linear-gradient(to right, #673ab7 0%, #884af1 100%) !important;
    }
  }

  #top-navbar {
    background: #fff;
    width: 100%;
    // box-shadow: -8px 12px 18px 0 #dadee8;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-top: 0em;
    padding-bottom: 0em;
    transition: all 0.2s ease-in-out;
    transition: 0.5s ease-in-out;
    animation: affix_animation .6s ease-in-out;
    -webkit-animation: affix_animation .6s ease-in-out;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    @media(min-width:992px) {
      height: 75px;
    }

    @media(max-width:991px) {
      .devices-list {
        justify-content: center !important;
      }

      .search-bar-block {
        text-align: center;
        display: flex;
        justify-content: center;
      }
    }

    .top-navbar-inner {
      padding: 0.3em 0 0.5em 0;

      .search-bar-block {
        ul {
          display: flex;
          align-items: center;

          li {
            &:not(:last-child) {
              margin-right: 10px;
            }

          }

          .refresh-button {
            button {
              padding: 0;
              border: none;
              background: transparent;

              img {
                width: 25px;
                transition: all 0.5s ease-in-out;
              }

              &:focus,
              &:hover {
                img {
                  transform: rotate(180deg);
                }
              }
            }
          }
        }
      }
    }

    &.navbar-active {
      transform: translateY(-800px);
      height: 0 !important;
    }

    .logo {
      margin-right: 15px;
      margin-top: 10px;
      background: #ecf3f9;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 30px;
      }
    }

    .search-bar {
      width: 250px;
      max-width: 250px;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        left: 15px;
        top: 52%;
        transform: translateY(-50%);
        bottom: 0;
        width: 12px;
        height: 12px;
        background: url("/img/search.svg") no-repeat;
        background-size: contain;
      }

      input {
        height: 30px;
        border-radius: 20px;
        background: #ecf0fa;
        border: 1px solid #ecf0fa;
        font-size: 0.9em;
        color: #4d5875;
        font-weight: 500;
        position: relative;
        padding-left: 35px;

        &:focus {
          border: none;
          outline: none;
          box-shadow: none;
        }
      }
    }

    .devices-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;

      >li {
        &:not(:last-child) {
          margin-right: 20px;
        }

        select {
          display: block;
          border-radius: 20px;
          font-size: 0.8em;
          padding: 0 10px;
          font-weight: 600;
          letter-spacing: 0;
          min-width: 120px;

          &:focus {
            outline: none;
          }

          option {
            font-weight: 600;
          }
        }

        .custom-inputs {
          display: flex;

          li {
            &:not(:last-child) {
              margin-right: 10px;
            }

            .close-icon {
              width: 8px;
            }

            input {
              width: 60px;
              height: 25px;
              background: #ecf0fa;
              border: 1px solid #ecf0fa;
              padding: 2px;
              font-size: 0.9em;
              font-weight: 500;

              &:focus {
                box-shadow: none;
                outline: none;
              }

              &::placeholder {
                font-size: 0.9em;
              }
            }
          }
        }
      }
    }
  }


  .browser-preview {
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
    text-align: center;
    overflow-y: scroll;
    height: calc(100vh - 75px);

    &.browser-preview-active {
      height: 100vh !important;
    }

    /* Scrollbar Styling */
    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      background-color: #ebebeb;
      -webkit-border-radius: 5px;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 0px;
      background: #6d6d6d;
    }
  }
}

.nav-toggle {
  width: 35px;
  height: 35px;
  position: fixed;
  right: 0;
  top: 20%;
  border-radius: 20px 0 0 20px;
  background: #fff !important;
  background-clip: border-box;
  border-radius: 5px;
  border: 1px solid #deebfd;
  margin-bottom: 1.3rem;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
  animation: affix_animation .6s ease-in-out;
  -webkit-animation: affix_animation .6s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  &.nav-toggle-active {
    background: #48d6a8 !important;
    border-color: #48d6a8;

    img {
      transform: rotate(180deg);
    }

  }
}



.box {
  position: relative;

  select {
    background-color: #ecf0fa !important;
    color: #333 !important;
    border: none;
    -webkit-appearance: button;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    letter-spacing: 0.2px;
    font-size: 0.9em;
    font-weight: 400;


    option {
      padding: 0 15px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    text-align: center;
    pointer-events: none;
    background-image: url("/img/down-arrow-white.svg");
    background-size: contain;
    width: 10px;
    height: 10px;
  }
}